<div class="col-md-3 col-xs-3" style="background-color:#34495e;height:100%;">
    <!--说明-->
    <div class="nav narbar_title">
        <a href="index.html" class="site_title"><i class="fa fa-cog"></i><span class="my_admin">My-Admin</span></a>
    </div>
    <!--头像-->
    <div class="row narbar_title">
        <div class="col-xs-4 col-md-4">
            <img src="../../assets/imgs/avathumb.jpeg" alt="头像" class="ava-thumb">
        </div>
        <div class="col-xs-8 col-md-8 ">
            <span>您好:</span>
            <hr style="margin:10px 0;padding:0; ">
            <span class="font-weight">Shane Miao</span>
        </div>
    </div>
    <!--列表部分-->
    <div class="sidebar_menu">
        <div class="siderbar_section">
            <a> <i class="fa fa-list"></i> 文章管理 <span class="fa fa-chevron-down"></span> </a>
        </div>
        <div class="siderbar_section">
            <a> <i class="fa fa-list"></i> 评论管理 <span class="fa fa-chevron-down"></span> </a>
        </div>
        <div class="siderbar_section">
            <a> <i class="fa fa-list"></i> 用户管理 <span class="fa fa-chevron-down"></span> </a>
        </div>
        <div class="siderbar_section">
            <a> <i class="fa fa-list"></i> 角色管理 <span class="fa fa-chevron-down"></span> </a>
        </div>
        <div class="siderbar_section">
            <a> <i class="fa fa-list"></i> 权限管理 <span class="fa fa-chevron-down"></span> </a>
        </div>
        <div class="siderbar_section">
            <a> <i class="fa fa-list"></i> 数据统计 <span class="fa fa-chevron-down"></span> </a>
        </div>
    </div>

    <!--底部-->
    <div class="sidebar_footer">

    </div>
</div>