.narbar_title {
    outline: 0;
    color: white;
    font-size: 24px;
    font-style: normal;
    margin-bottom: 10px;
}

.narbar_title img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.font_white {
    color: white;
}

.dash_font_size {
    font-size: 24px;
}

.siderbar_section {
    margin: 10px 5px 5px 20px;
}

.siderbar_section a span {
    margin: 10px 50px 5px 5px;
}

.siderbar_section a:hover {
    color: #bbbbbb;
    text-decoration: none;
}

.list-a a {
    border: 0;
    background-color: #0099ff;
    font-size: 16px;
    color: white;
}