/*
左侧导航栏通用部分
*/

.leftNav {
    background-color: #34495e;
    color: #ecf0f1;
}

.site_title {
    color: #ecf0f1;
    font-size: 25px;
    text-decoration: none;
}

.leftNav-font {
    color: #ecf0f1;
    font-size: 18px;
    text-decoration: none;
}

.leftNav-font:hover {
    color: #3498db;
}


/*左侧导航栏头部部分 start*/

.ava-thumb {
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.font-weight {
    font-weight: 600px;
    font-size: 20px;
}

.narbar_title {
    margin-bottom: 15px;
}

.my_admin {
    margin-left: 20px;
}


/*左侧导航栏头部部分 end*/


/*左侧导航栏列表部分 start*/

.sidebar_menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.siderbar_section {
    width: 100%;
    font-size: 18px;
    margin-bottom: 30px;
}

.siderbar_section span {
    margin-left: 60px;
}

.list-a {
    margin: 0;
    padding: 0;
}

.list-a a {
    background-color: #34495e;
    border: 0;
    color: #ecf0f1;
    font-size: 18px;
    text-decoration: none;
}

.list-a a:hover {
    color: #3498db;
}


/*左侧导航栏列表部分 end*/


/*左侧导航栏底部 start*/

.sidebar_footer {}


/*左侧导航栏底部 end*/