<div class="narbar_title">
    <a href="/index" class="font_white"><i class="fa fa-cog"></i> <span class="my_admin">My-Admin</span></a>
</div>
<!--头像-->
<div class="row narbar_title">
    <div class="col-xs-5 col-md-5" style="padding-left:10px;padding-right:5px;">
        <img src="../../assets/imgs/avathumb.jpeg" alt="头像" class="ava-thumb">
    </div>
    <div class="col-xs-7 col-md-7" style="padding-left:5px;padding-right:10px;">
        <span>您好:</span>
        <hr style="margin:10px 0;padding:0; ">
        <span class="font-weight">Shane Miao</span>
    </div>
</div>
<!--菜单栏部分-->
<div class="row">
    <div class="sidebar_menu">
        <div class="siderbar_section">
            <!--文章管理折叠-->
            <a (click)="hiddenChange('post_collapse')" class="font_white dash_font_size"><i class="fa fa-list"></i> <span>文章管理</span> <i class="fa fa-chevron-down"></i></a>
            <div [hidden]="leftcollapse.post_collapse" class="list-group list-a">
                <a routerLink="/add/posts" class="list-group-item"> 新增文章 </a>
                <a routerLink="/manager/posts" class="list-group-item"> 管理文章 </a>
                <a routerLink="/edit/posts" class="list-group-item"> 编辑文章 </a>
            </div>
        </div>
        <div class="siderbar_section">
            <a (click)="hiddenChange('comment_collapse')" class="font_white dash_font_size"><i class="fa fa-comments"></i> <span>评论管理</span> <i class="fa fa-chevron-down"></i></a>
            <div [hidden]="leftcollapse.comment_collapse" class="list-group list-a">
                <a href="#" class="list-group-item">新增评论</a>
                <a href="#" class="list-group-item">管理评论</a>
            </div>
        </div>
        <div class="siderbar_section">
            <a (click)="hiddenChange('user_collapse')" class="font_white dash_font_size"><i class="fa fa-user-circle"></i> <span>用户管理</span> <i class="fa fa-chevron-down"></i></a>
            <div [hidden]="leftcollapse.user_collapse" class="list-group list-a">
                <a href="#" class="list-group-item">新增用户</a>
                <a href="#" class="list-group-item">管理用户</a>
            </div>
        </div>
        <div class="siderbar_section">
            <a (click)="hiddenChange('order_collapse')" class="font_white dash_font_size"><i class="fa fa-shopping-bag "></i> <span>订单管理</span> <i class="fa fa-chevron-down"></i></a>
            <div [hidden]="leftcollapse.order_collapse" class="list-group list-a">
                <a href="#" class="list-group-item">新增订单</a>
                <a href="#" class="list-group-item">管理订单</a>
            </div>
        </div>
        <div class="siderbar_section">
            <a (click)="hiddenChange('active_collapse')" class="font_white dash_font_size"><i class="fa fa-archive"></i> <span>活动管理</span> <i class="fa fa-chevron-down"></i></a>
            <div [hidden]="leftcollapse.active_collapse" class="list-group list-a">
                <a href="#" class="list-group-item">新增活动</a>
                <a href="#" class="list-group-item">管理活动</a>
            </div>
        </div>
        <div class="siderbar_section">
            <a (click)="hiddenChange('stat_collapse')" class="font_white dash_font_size"><i class="fa fa-pencil-square-o"></i> <span>数据统计</span> <i class="fa fa-chevron-down"></i></a>
            <div [hidden]="leftcollapse.stat_collapse" class="list-group list-a">
                <a href="#" class="list-group-item">查看数据</a>
            </div>
        </div>
    </div>
</div>


<!--底部-->
<div class="row">
    <div class="sidebar_footer col-md-2 col-xs-2">

    </div>
</div>