<div class="container d-flex" style="justify-content: center;">
    <div class="card card-info mb-1 text-center" style="width: 40rem;">
        <div class="card-block">
            <h2 class="card-title">任务列表</h2>
            <div class="form-group">
                <input class="form-control" placeholder="请输入需要执行的任务">
                <small id="todoHelp" class="form-text text-muted">输入完成之后按下enter表示确认添加该任务</small>
            </div>
        </div>
        <!--任务列表-->
        <section [hidden]="!todos.length" class="todo-section">
            <div class="todo-group" *ngFor="let todoItem of todos">
                <input type="checkbox" class="todo-input">
                <div class="todo-label">{{todoItem.title}}</div>
            </div>
        </section>
        <div class="card-block">
            <a href="#" class="card-link">确认完成</a>
            <a href="#" class="card-link">取消完成</a>
        </div>
    </div>
</div>