<div class="container">
    <h1>添加新文章</h1>
    <form class="post-add" (ngSubmit)="onSubmit()" #postForm="ngForm">
        <div class="form-group">
            <label for="title">文章标题</label>
            <input type="text" class="form-control" id="title" name="title" [(ngModel)]="newPost.title" #title_alert="ngModel" required #spy>
            <div [hidden]="title_alert.valid || title_alert.untouched" class="alert alert-danger">
                文章标题不能为空
            </div>
        </div>
        <div class="form-group">
            <label for="content">文章内容</label>
            <textarea class="form-control" rows="8" id="content" name="content" [(ngModel)]="newPost.content" #content_alert="ngModel" required></textarea>
            <div [hidden]="content_alert.valid || content_alert.untouched" class="alert alert-danger">
                文章内容不能为空
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success" [disabled]="!postForm.form.valid" style="margin-right:10px;">新增文章</button>
            <button type="button" class="btn btn-primary" (click)="restPost(); postForm.reset()" style="margin-right:10px;">重置</button>
        </div>
    </form>
</div>