/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
}

.container-liquid {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}